@model UserPwd
@{
    ViewData["Title"] = "Cuenta nueva";
    ViewData["SubTitle"] = "Crear";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb small">
        <li class="breadcrumb-item"><a class="text-decoration-none" title="Regresar al login"
                asp-action="Index">Regresar</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>

<h2 class="text-center mb-3">@ViewData["Title"] <small class="text-muted fs-5">@ViewData["SubTitle"]</small></h2>

<form asp-action="NewUser">
    <div class="card mx-auto" style="max-width: 500px;">
        <div class="card-body">
            <h1 class="h3 text-center" style="color: #c6a0ee;">Bienvenido a MusicShark</h1>
            <h2 class="h6 text-center text-secondary-emphasis">Tu destino para explorar y disfrutar de la música.</h2>
            <h5 class="card-card-title text-center mt-4">@ViewData["Title"]</h5>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control" placeholder="Email" maxlength="75">
                <label asp-for="Email" class="form-label"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Password" class="form-control" placeholder="Password" >
                <label asp-for="Password" class="form-label"></label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Name" type="" placeholder="Nombre" class="form-control" maxlength="100"/>
                <label asp-for="Name" class="form-label"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <p class="card-text small">Descubre un océano de melodías con MusicShark</p>

        </div>
        <div class="card-footer text-center">
            <button id="btnCrearCuenta" type="submit" class="btn btn-sm btn-success">Crear cuenta</button>
            <a class="btn btn-sm btn-outline-secondary" asp-action="Index" title="Cancelar">Cancelar</a>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}