@using System.Security.Claims

<div class="me-auto navbar-nav">
    @if (User.Identity?.IsAuthenticated == true)
    {
        <a class="nav-link" asp-controller="Home" asp-action="Index">Inicio</a>
        <a class="nav-link" asp-controller="Songs" asp-action="Index">Canciones</a>
        @if (User.FindFirstValue(ClaimTypes.Role) == "Administrador")
        {
            <a class="nav-link" asp-controller="MusicGenre" asp-action="Index">Género musical</a>
            <a class="nav-link" asp-controller="File" asp-action="Index">Archivos</a>
            <a class="nav-link" asp-controller="User" asp-action="Index">Usuarios</a>
            <a class="nav-link" asp-controller="Logbook" asp-action="Index">Bitácora</a>
        }
    }
</div>